@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

:root {
  /* Colors */
  --primaryColor: #d8d8cf;
  --titleColor: #ffff;
  --navbarbgColor: #172447de;
  --mainColor: #172447;
  --otherColor: #31588d;
  --brightColor: #ff0080;
  /* Fonts */
  --primaryFont: "Montserrat", sans-serif;
}

/* General CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primaryFont);
}
html {
  scroll-behavior: smooth;
}

/* Main Page */

.title {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--titleColor);
  font-size: 2em;
}

.up-btn {
  position: fixed;
  z-index: 1;
  color: var(--brightColor);
  bottom: 0;
  right: 0;
  margin: 1vw;
}
.up-btn-link {
  text-decoration: none;
}

.name {
  color: var(--brightColor);
}

.title-btn {
  width: 15vw;
  height: 5vh;
  background: none;
  color: #fefefe;
  font-size: 0.5em;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-btn-container:hover .title-btn {
  background: var(--otherColor);
  border: var(--otherColor);
}
.title-btn-container:hover .fa-angle-down {
  transform: none;
}

.title-btn-link {
  text-decoration: none;
  margin-top: 1em;
}

.fa-angle-down {
  margin: 5px;
  transform: rotate(270deg);
}

.nav {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
}
.logo {
  flex: 1 1 auto;
  margin-left: 10%;
}

.banner-area {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.3)),
    url(./gray-laptop-computer-showing-html-codes-in-shallow-focus-160107.jpg)
      center/cover no-repeat fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Rest of Pages */

.services-area,
.portfolio-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-load-link {
  text-decoration: none;
  color: var(--navbarbgColor);
}

.contact-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 95vh;
}

.text-part {
  width: 80%;
  height: 80%;
}

.main-header {
  display: flex;
  justify-content: center;
}

.main-text {
  font-family: var(--primaryFont);
  font-size: 24px;
  line-height: 50px;
}

.services-area,
.contact-area,
.footer-area {
  background: #262626;
  color: whitesmoke;
}
.portfolio-area {
  background: #fefefe;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.port-item-container {
  text-align: center;
}

.portfolio-item {
  width: auto;
  height: auto;
  align-self: center;
  border: 10px solid black;
  margin: 1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portfolio-img {
  width: 500px;
  height: auto;
  position: relative;
}

/* Portfolio plus sign on portfolio item */

.port-item-container:hover .fa-search-plus {
  opacity: 1;
}

.fa-search-plus {
  position: absolute;
  color: var(--brightColor);
  opacity: 0;
}

/* Contact Page */

.contact-social {
  display: flex;
  justify-content: center;
}

.contact-social a {
  margin: 1em;
}

.contact-text {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

/* Footer */
footer {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-size: 0.7em;
  color: var(--menutextColor);
}
